body
{
	background-color: #283149;;
}

h1 {
	text-align: center;
	color: #DBEDF3;
	font-family: "Arvo", cursive;
	text-shadow: 3px 0 #DA0463;
  
  }

header{
	text-align: center;
	padding: 20px 0;
	box-sizing: border-box;
	margin: 20px auto;
}
header p {
	margin-bottom: -5px;
}
.fav .fav-img{
	display: block;
	max-width: 80%;
	box-shadow: 2px 2px 10px #DA0463;
	margin: 10px auto;
}
.fav p{
	padding: 10px 50px;
}
.fav{
	border-radius: 20px;
	box-shadow: 2px 2px 10px #DA0463;
	padding: 20px 0;
}
main div{
	margin: auto;
}

.card-body
{
	background-color: #192734;
	color: antiquewhite;
	box-shadow: 2px 2px 10px #DA0463;
	
	
}
.card-img-top
{
	box-shadow: 2px 2px 10px #DA0463;
}
